<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>recetasCodoaCodo</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="Food-Icons.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


  <!-- CSS File -->
  <link href="style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Recetas Codo a Codo</span></a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#recetas">Recetas</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="getstarted scrollto" href="#about">Conocenos!</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <h1>Las Mejores recetas </h1>
          <h2>Comidas y Postres</h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Conocenos!</a>
          </div>
        </div>
        <div class="hero-img" style="display: flex; flex-direction: column; align-items: stretch;">
          <img src="th.jpg" class="img-fluid animated" alt="cocina">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= sobre nosotros Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between cocineros">
          
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h1 data-aos="fade-up"><center>Los Cocineros</center> </h1>
            
          <section>
          <div class="container-about">
              <div class="row">
                  <div class="card-about">
                      <div class="card">
                          <img src="nar.jpg" class="card-img-top" alt="Narda Lepes">
                          <div class="card-body">
                              <h5 class="card-title">Narda Lepes</h5>
                              <p class="card-text">Nació el 29 de julio de 1972 en una familia argentina de origen croata y esloveno. A los dos años se mudó a Caracas junto con su madre, quien participaba en el Instituto Di Tella. Vivió allí hasta los siete años, cuando regresó a Buenos Aires. En 1995 viajó a París a realizar pasantías en distintos restaurantes durante un año. Tiene una hija llamada Leia que nació en 2011.</p>
                          </div>
                      </div>
                  </div> 
                  <div class="card-about">
                      <div class="card">
                      <img src="santis.jpg" class="card-img-top" alt="Donato De Santis">
                          <div class="card-body">
                              <h5 class="card-title">Donatto De Santis</h5>
                              <p class="card-text">Donato De Santis (Milán, 5 de marzo de 1964) es un cocinero italiano especializado en la cocina de ese país. Desde 2000 reside en Buenos Aires, donde fundó su propio restaurante, Cucina Paradiso. Ha conducido numerosos programas televisivos e integró el jurado de la versión argentina de MasterChef en 2014 y 2015 y Dueños de la cocina en 2016.</p>
                          </div>
                      </div>
                  </div>  
                  <div class="card-about">
                      <div class="card">
                      <img src="doii.jpg" class="card-img-top" alt="Doly Irigoyen">
                          <div class="card-body">
                              <h5 class="card-title">Doly Irigoyen</h5>
                              <p class="card-text">Es una de las chefs más reconocidas de la Argentina y de Latinoamérica. Nació en General Las Heras, una localidad agrícola de la provincia de Buenos Aires. En su carrera se destaca no sólo como cocinera, maestra de cocina, comunicadora mediática y propietaria de restaurantes, sino también como investigadora de las raíces de la gastronomía local.</p>
                          </div>
                      </div>
                  </div>  
              </div>
          </div>
          </section>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Recetas Section ======= -->

    <section id="recetas" class="recetas section-bg">
      <div class="container" data-aos="fade-up" id="app">
        <div v-if="error">
          <p>Se produjo un error</p>
        </div>

        <div v-else="error">
          <div class="section-title">
            <h2>Recetas</h2>
            <p>Nuestras selección recetas</p>
          </div>

          <div v-for="elemento of recipesAll">
            <div data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <img :src="elemento.photoUrl" alt="receta" class="imgRecetas">
                <h4 class="title">{{elemento.title}}</h4>
                <h5 class="title">Tipo de receta: {{elemento.course}}</h5>
                <p class="description"></p><a :href="elemento.url">Enlace a la receta!</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
    <!-- End recetas Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Mira nuestras fotos de recetas</p>
        </div>

       
        <div class="slide">
          <div class="slide-inner">
              <input class="slide-open" type="radio" id="slide-1" 
                    name="slide" aria-hidden="true" hidden="" checked="checked">
              <div class="slide-item">
                  <img src="food.jpg">
              </div>
              <input class="slide-open" type="radio" id="slide-2" 
                    name="slide" aria-hidden="true" hidden="">
              <div class="slide-item">
                  <img src="food2.jpg">
              </div>
              <input class="slide-open" type="radio" id="slide-3" 
                    name="slide" aria-hidden="true" hidden="">
              <div class="slide-item">
                  <img src="food3.jpg">
              </div>
              <label for="slide-3" class="slide-control prev control-1">‹</label>
              <label for="slide-2" class="slide-control next control-1">›</label>
              <label for="slide-1" class="slide-control prev control-2">‹</label>
              <label for="slide-3" class="slide-control next control-2">›</label>
              <label for="slide-2" class="slide-control prev control-3">‹</label>
              <label for="slide-1" class="slide-control next control-3">›</label>
              <ol class="slide-indicador">
                  <li>
                      <label for="slide-1" class="slide-circulo">•</label>
                  </li>
                  <li>
                      <label for="slide-2" class="slide-circulo">•</label>
                  </li>
                  <li>
                      <label for="slide-3" class="slide-circulo">•</label>
                  </li>
              </ol>
          </div>
      
          
        
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contáctanos</h2>
          <p>Comunícate con nosotros</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Ubicación:</h4>
                <p>Rodrigues 5724, Tandil, Argentina</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@ejemplo.com.ar</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Teléfono:</h4>
                <p>+54 9119 5548853</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25382.641861130054!2d-59.146240000000006!3d-37.32284885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1685142013492!5m2!1ses!2sar"
                frameborder="0" style="border:0; width: 100%; height: 450px;" allowfullscreen></iframe>

            </div>

          </div>

          <div data-aos="fade-up" data-aos-delay="200">
            <form action="" method="" role="form" class="php-email-form" style="display: flex; justify-content: center;">
              <div class="row" style=" display: flex; flex-direction: column; align-items: flex-end;">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
                </div>
                <div class="form-group">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" required>
                </div>

                <div class="form-group">
                  <label for="name">Asunto</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
                </div>
                <div class="form-group">
                  <label for="name">Mensaje</label>
                  <textarea class="form-control" name="message" rows="10" id="message" required></textarea>
                </div>
                
                <div class="text-center"><button type="" onclick="validar()">Enviar Mensaje</button></div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
          <div>
            <h4>Suscribite a nuestro boletín</h4>
            <p>Recibe todas nuestras novedades en tu mail</p>
            <form action="" method="">
              <input type="email" name="email"><input type="submit" value="Suscribirse">
            </form>
          </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="footer-contact">
            <h3>Recetas Codo a Codo</h3>
            <p>
              <br>
              ARGENTINA <br><br>
              <strong>Telefono</strong> +54 911 11111111<br>
              <strong>Email:</strong> info@ejemplo.com.ar<br>
            </p>
          </div>


          <div class="footer-links">
            <h4>Nuestras Redes Sociales</h4>
            <div class="social-links mt-3">
              <a href="https://twitter.com/" class="twitter"><img src="twitter.png" alt=""></a>
              <a href="https://facebook.com/" class="facebook"><img src="facebook.png" alt=""></a>
              <a href="https://instagram.com/" class="instagram"><img src="instagram.png" alt=""></a>
              <a href="https://linkedin.com/" class="linkedin"><img src="linkedin.png" alt=""></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top" style="display: flex; align-items: center; justify-content: center;"><img src="cursor.png" alt=""></a>


  <!-- JS Files -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="javascript.js"></script>

</body>

</html>